<!-- Slider Start 
<section id="slider">
    <div class="container">
        <div class="row">
                <iframe title="vimeo-player" src="https://player.vimeo.com/video/346738342" width="640" height="360" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
-->



<div class="vimeo-container">
    <div class="item1">
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/346738342" width="960" height="620" frameborder="0" allowfullscreen></iframe>

    </div>
</div>