<div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-3 mb-2 bg-white shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand" href="index.html">
            <img src="img\SHAW_BOXING_LOGO_2019-200px-new.jpg" alt="Logo">
        </a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="index.html">Home</a>
        <!--<a class="p-2 text-dark" disabled href="#">Galleries</a> -->
        <a class="p-2 text-dark" href="raffle.html">Raffle</a>
        <a class="p-2 text-dark" href="auction.html">Auction</a>
    </nav>
    <a class="btn btn-large btn-primary" href="mailto:info@shawboxing.com?subject=Shaw Boxing Registration">Register</a>
</div>