<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="index.html">
            <img src="img\SHAW_BOXING_LOGO_2019-200px-new.jpg" width="100" alt="Shaw Boxing Logo">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="raffle.html">Raffle</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="auction.html">Auction</a>
                </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Galleries</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <a class="btn btn-large btn-primary" href="mailto:info@shawboxing.com?subject=Shaw Boxing Registration">Register</a>
        </form>
    </div>
</nav>