<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md8 ml-auto hero-content">
                <div class="block">
                    <h1 class="animated fadeInUp shaw-text">Shaw
                        <time datetime="2020-0.5-14">Boxing</time></shaw-text">
                        <h2 class="animated fadeInUp">Thursday May 14, 2020</h2>
                        <p class="animated fadeInDown">From its debut in 1986, Shaw Boxing has remained one of the most popular and talked-about networking and fundraising events in Toronto’s business community. 
                        </p>
                        <p class="animated fadeInDown">
                            Shaw Boxing offers a night of camaraderie, first class hospitality and professional boxing
                            matches. Guests enjoy exceptional cuisine and high-quality sporting action close to their
                            table,
                            along with networking with the who’s who from the ranks of Canada’s top 100 companies.</p>

                        <p class="animated fadeInDown">
                                On May 14, 2020, we will celebrate the 35th anniversary of this phenomenal event, which has raised over $11 million in support of the Shaw Festival Theatre, Canada. Proceeds have helped to build one of the largest and most prestigious acting ensembles in North America, and develop programs that foster actors, designers and directors who in turn play their part in theatre companies across Canada
                        </p>
                        <p class="animated fadeInDown">
             For more information or to book a table, please contact <a href="mailto:info@shawboxing.com?subject=Shaw Boxing Registration">info@shawboxing.com</a> or ESP Inc. <a href="mailto:jenna@espinc.ca?subject=Shaw Boxing Registration">jenna@espinc.ca</a>
            
            </p>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>